# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# build output
build/
dist/

# logs
*.log

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# editors
.vscode/
.idea/

# temp files
*.tmp
*.swp
.dev-wallet/

# local env files
.env
.env.*
!.env.localnet
!.env.devnet

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
